* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(0, 199, 139);
    color: rgb(65, 65, 65);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    box-shadow: black 0px 5px 20px -10px;
}

h2 {
    text-shadow: black 0px 5px 10px 0px;
}

body {
    background-color: rgb(65, 65, 65);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

button {
    background: linear-gradient(to right, grey 50%, rgb(0, 199, 139) 50%);
    border: solid rgb(0, 199, 139) 2px;
    box-shadow: black 0px 5px 20px -10px;
    border-radius: 20px 20px 20px 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    background-size: 200% 100%;
    transition: border .5s, background-position .7s;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

button:focus {
    outline: none;
}

button:hover {
    background-position: -100% 0%;
    border: solid rgb(0, 39, 27) 2px;
    transition-duration: .7s;
}

button:active {
    color: rgb(73, 73, 73);
}

span {
    color: orange;
}

#piano {
    margin: 20px;
    height: 100px;
    width: 494px;
    border: solid 2px rgb(51, 51, 51);
    display: flex;
    box-shadow: 0px 5px 20px black;
}

.oneScale {
    display: flex;
    position: relative;
}

@keyframes transitionHighlightedKeys {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% -100%;
    }

}

@keyframes transitionHighlightedKeysReset {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: 0% 0%;
    }

}

@keyframes transitionColor {
    0% {
        background: linear-gradient(to bottom, rgb(119, 119, 119) 50%, orange 50%);
    }

    100% {
        background: linear-gradient(to bottom, rgb(119, 119, 119) 50%, rgb(0, 199, 139) 50%);
    }
}

@keyframes transitionColorReset {
    0% {
        background: linear-gradient(to bottom, rgb(119, 119, 119) 50%, rgb(0, 199, 139) 50%);
    }

    100% {
        background: linear-gradient(to bottom, rgb(119, 119, 119) 50%, orange 50%);
    }
}

#piano .oneScale .whiteNote {
    width: 35px;
    height: 96px;
    border: solid 2px white;
    /*background-color: rgb(119, 119, 119);*/
    background: linear-gradient(to bottom, rgb(119, 119, 119) 50%, orange 50%);
    background-size: 100% 200%;
    /*animation: transitionHighlightedKeys .7s 1 ease-in-out forwards;*/
}

#piano .oneScale .blackNote {
    width: 15px;
    height: 58px;
    border: solid 2px rgb(29, 29, 29);
    /*background-color: rgb(29, 29, 29);*/
    background: linear-gradient(to bottom, rgb(29, 29, 29) 50%, orange 50%);
    background-size: 100% 200%;
}

.noteCSharp {
    position: absolute;
    left: 28px;
}

.noteDSharp {
    position: absolute;
    left: 63px;
}

.noteFSharp {
    position: absolute;
    left: 133px;
}

.noteGSharp {
    position: absolute;
    left: 168px;
}

.noteASharp {
    position: absolute;
    left: 203px;
}